@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans Light'), local('OpenSans-Light'), url(OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), url(OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'), url(OpenSans-SemiBold.ttf) format('truetype');
}
